@import '../assets/styles/global/variables.scss';

.track {
  position: relative;
  border: 1px solid $color-primary;
  flex-direction: column;
  // width: 200px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0 0 $color-primary;
  
  &__actions {
    * + * {
      margin-left: $button-size/4;
    }
  }
}