@import '../assets/styles/global/variables.scss';

.track {
  position: relative;
  border: 1px solid $color-border;
  flex-direction: column;
  // width: 200px;
  padding: 1em;
  margin: 1.5em;
  border-radius: 0.2em;
  box-shadow: 0.4em 0.4em 0 0 $color-primary;
  
  &--active {
    background-color: $color-secondary;
  }

  &__actions {
    * + * {
      margin-left: $button-size/4;
    }
  }

  &__header { 
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    position: absolute;
    top: 0.5em;
    width: calc(100% - 2em);
  }
}