@media (prefers-color-scheme: dark) {
  :root {
    --color-primary:                      black;
    --color-secondary:                    ivory;
    --color-accent:                       orange;
    --color-bg:                           #555;
  }
}
