@media (prefers-color-scheme: light) {
  :root {
    --color-primary:                      black;
    --color-secondary:                    ivory;
    --color-accent:                       orange;
    --color-bg:                           grey;
  }
}