@mixin textButton {
  @include media-bp(desktop) {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  box-shadow: 1px 1px 0 0 $color-primary;

  &:active {
    box-shadow: none;
  }
}

// Creating viewports mixin
@mixin media-bp($prefix) {
  @if map-get($viewports, $prefix) {
    $media-query: map-get($viewports, $prefix);

    @media #{$media-query} {
      @content;
    }
  } @else {
    @warn 'please define a real device';
  }
}
