$note-width: 26px;
$note-gap: 2px;
$button-size: 2em;
$color-primary: black;
$color-secondary: ivory;
$color-accent: orange;

// Defining viewports
$viewports: (
  phone:        "only screen and (max-width: 575px)",
  mobile:       "only screen and (max-width: 991px)",
  tablet:       "only screen and (min-width: 575px) and (max-width: 992px)",
  tablet-min:   "only screen and (min-width: 575px)",
  desktop:      "only screen and (min-width: 992px)",
);