@import "./assets/styles/global/variables.scss";
@import url(https://fonts.googleapis.com/css?family=Lato);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
}

* {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-accent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}

.title {
  font-size: 1.6rem;
}

.title,
.description {
  background-color: $color-primary;
  color: white;
  text-align: center;
}

.keyboard {
  display: flex;
  justify-content: center;
  padding: $note-width * 2 $note-width $note-width;
  height: $note-width * 6;
  overflow-x: auto;

  &__note {
    flex-shrink: 0;
    height: $note-width * 5;
    width: $note-width;
    background-color: ivory;
    border-radius: 2px;
    box-shadow: 0 $note-gap $note-gap 0 $color-primary;
    user-select: none;
    cursor: pointer;

    color: transparent;

    &:nth-child(12n + 5),
    &:nth-child(12n + 7),
    &:nth-child(12n + 10),
    &:nth-child(12n + 12),
    &:nth-child(12n + 2) {
      background-color: $color-primary;
      // position: absolute;
      height: $note-width * 3;
      margin-left: -$note-width/2;
      margin-right: -$note-width/2;
      z-index: 1;
      width: $note-width - $note-gap;
      border-left: $note-gap solid ivory;
      border-right: $note-gap solid ivory;
      border-radius: 2px + $note-gap;
      box-shadow: none;
    }

    &#{&}--active {
      margin-top: 4px;
      outline: none;
      background-color: $color-accent;
    }
  }
}

.button {
  font-size: $button-size/2;
  border: 1px solid $color-primary;
  min-width: $button-size;
  width: $button-size;
  height: $button-size;
  padding: 0.45em;
  background-color: $color-secondary;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: $button-size;
  box-shadow: 1px 1px 0 0 $color-primary;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }

  &--active {
    background-color: $color-accent;
  }

  &--close {
    position: absolute;
    background-color: $color-primary;
    color: ivory;
    right: 1em;
    top: 1em;
    font-size: $button-size/4;
  }
}

.add {
  margin-left: auto;
  margin-right: auto;
}

.info {
  background-color: $color-primary;
  color: white;
  margin-top: auto;
}

.load {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    font-size: $button-size/2;
    border: 1px solid $color-primary;
    min-width: $button-size;
    height: $button-size;
    padding: 0.3em 0.5em 0.3em 1em;
    background-color: $color-secondary;
    cursor: pointer;
    border-radius: $button-size;
    color: $color-primary;

    svg {
      margin-left: 0.5em;
    }
  }
}
