@import "./assets/styles/global/variables.scss";
@import url(https://fonts.googleapis.com/css?family=Lato);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
}

* {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-accent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}

.button {
  font-size: $button-size/2;
  border: 1px solid $color-primary;
  min-width: $button-size;
  width: $button-size;
  height: $button-size;
  padding: 0.45em;
  background-color: $color-secondary;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: $button-size;
  box-shadow: 1px 1px 0 0 $color-primary;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }

  &--active {
    background-color: $color-accent;
  }

  &--small {
    background-color: $color-primary;
    color: $color-secondary;
    right: 1em;
    top: 1em;
    font-size: $button-size/4;
  }

  &--text {
    width: auto;
  }
}

.input {
  &--load {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
      font-size: $button-size/2;
      border: 1px solid $color-primary;
      min-width: $button-size;
      background-color: $color-secondary;
      cursor: pointer;
      border-radius: $button-size;
      color: $color-primary;

      display: inline-block;
      padding: 0.45em;
      line-height: 0;

      svg {
        margin-left: 0.5em;
      }
    }
  }
}
